.easeIn-Out, .easeIn-Out *{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.zoom:hover{
  -webkit-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

.rotate:hover{
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}

.bg-color:hover{
  background-color: rgba(252, 252, 252, 0.6);
}
